.LoggedInUser {
  &__createArticle {
    font-family: Inter,  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #52C41A;
    padding: 6px 10px 5px;
    border: 1px solid #52C41A;
    border-radius: 5px;
    margin-left: auto;
  }
  &__userAvatar {
    width: 45px;
    height: 45px;
    margin-left: 13px;
    border-radius: 50%;
  }
  &__userName,
  &__logOut {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-left: 27px;
  }
  &__logOut {
    padding: 6px 18px 10px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  }
  &__linkToProfile {
    display: flex;
    align-items: center;
  }
}
