.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;
}

.app__header {
  display: flex;
  height: 64px;
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 22px;
  align-items: baseline;
}

.app__title,
.app__signIn,
.app__signUp {
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.app__signIn {
  margin-left: auto;
  width: 84px;
}

.app__signUp {
  color: #52C41A;
  border: 1px solid #52C41A;
  border-radius: 5px;
  padding: 6px 18px 10px;
  margin-left: 19px;
}

.app__list {
  margin-left: auto;
  margin-right: auto;
}

.posts {
  width: 942px;
  padding-top: 26px;
}

.posts__item {
  margin-bottom: 26px;
}
