body {
  margin: 0;
  min-width: 320px;
  background-color: #E5E5E5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.ant-spin .ant-spin-dot {
  font-size: 110px;
}

.ant-spin-text {
  margin-top: 20px;
}

.ant-pagination {
  margin: auto auto 0;
  padding-top: 16px;
}

.ant-alert {
  margin-top: 20px;
  border: 5px solid darkgreen;
}

.ant-alert .ant-alert-message {
  font-size: 24px;
  font-weight: bold;
}

.ant-alert .ant-alert-description {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
}

